
@{
    ViewBag.Title = "ViewIssues";
    Layout = "~/Views/Shared/_LayoutAwaam.cshtml";
}

<div class="content-wrapper">

    <section class="content">
        
        <div class="row">
                 <div class="col-xs-12">
                      <h2> Issues in Punjab Rawalpindi  district , tehsil Rawalpindi </h2>
                 </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Box Comment -->
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="~/Content/dist/img/logo.gif" alt="User Image">
                            <span class="username"><a href="#">Tehsil UC 59</a></span>
                            <span class="description">Issued 2:30 PM Today</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                                <i class="fa fa-circle-o"></i>
                            </button>
                        
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="img-responsive pad" src="~/Content/dist/img/road.jpg" alt="Photo">
                        <p>I took this photo this morning. please fix this road</p>
                        <span type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-thumbs-up" ></i> 10</span>
                        <span type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-thumbs-down" ></i> 2</span>
                        
                    </div>

                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-6">
                <!-- Box Comment -->
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="~/Content/dist/img/logo.gif" alt="User Image">
                            <span class="username"><a href="#">Tehsil UC 59</a></span>
                            <span class="description">Issued 2:30 PM Today</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                                <i class="fa fa-circle-o"></i>
                            </button>

                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="img-responsive pad" src="~/Content/dist/img/garbage.jpg" alt="Photo">
                        <p>Do something about the Garbage.</p>
                        <span type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-thumbs-up"></i> 10</span>
                        <span type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-thumbs-down"></i> 2</span>

                    </div>

                </div>
                <!-- /.box -->
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <!-- Box Comment -->
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="~/Content/dist/img/logo.gif" alt="User Image">
                            <span class="username"><a href="#">Tehsil UC 59</a></span>
                            <span class="description">Issued 2:30 PM Today</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                                <i class="fa fa-circle-o"></i>
                            </button>

                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="img-responsive pad" src="~/Content/dist/img/tree.jpg" alt="Photo">
                        <p>I took this photo this morning. please fix this tree/home</p>
                        <span type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-thumbs-up"></i> 10</span>
                        <span type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-thumbs-down"></i> 2</span>

                    </div>

                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-6">
                <!-- Box Comment -->
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="~/Content/dist/img/logo.gif" alt="User Image">
                            <span class="username"><a href="#">Tehsil UC 128</a></span>
                            <span class="description">Issued 2:30 PM Today</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                                <i class="fa fa-circle-o"></i>
                            </button>

                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="img-responsive pad" src="~/Content/dist/img/sewerage.jpg" alt="Photo">
                        <p>I took this photo this morning. please fix this road</p>
                        <span type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-thumbs-up"></i> 100</span>
                        <span type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-thumbs-down"></i> 200</span>

                    </div>

                </div>
                <!-- /.box -->
            </div>

        </div>

        </section>
</div>

